<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- HTML 문서의 인코딩 방식 설정: UTF-8을 사용하여 다양한 언어와 문자를 지원 -->
    <meta charset="UTF-8">
    <title>Shary Talk Home</title>

    <!-- weather 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/weather.css}">

    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- 페이지 헤더 -->
<h2>[ Shary Talk ]</h2>

<!-- 설명 문구 -->
<p>지금 바로 채팅을 시작해보세요!</p>

<!-- 채팅을 시작하는 버튼 역할을 하는 링크 -->
<a href="/chat/chatForm">채팅 시작하기</a>

<!-- weather.js 파일 로드 -->
<script th:src="@{/js/main/weather.js}"></script>
</body>
</html>
