<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shary Talk Home</title>

    <!-- weather 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/weather.css}">

    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

</head>
<body>
<h2>[ Shary Talk ]</h2>
<p>지금 바로 채팅을 시작해보세요!</p>
<a href="/chat/chatForm">채팅 시작하기</a>
<!-- weather.js 파일 로드 -->
<script th:src="@{/js/main/weather.js}"></script>
</body>
</html>
