<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>캘린더</title>
    <!-- jQuery 로드 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <!-- 부트스트랩 CSS 로드 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FullCalendar CSS -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>

    <!-- 헤더와 푸터용 스타일 -->
    <link href="../header/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../footer/css/styles.css">
    <link th:href="@{/css/mypage/sideBar.css}" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOMContentLoaded 이벤트 발생');
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
            console.log("풀캘린더 렌더링 완료");
        });
    </script>

</head>
<body>
<div class="wrapper">
    <!-- 헤더 부분 불러오기 -->
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- 사이드바와 메인 콘텐츠를 포함하는 레이아웃 -->
    <div class="content">
        <!-- 사이드바 -->
        <div class="sidebar">
            <!-- 사이드바 내용 -->
            <div class="sidebar-content">
                <!-- 프로필 정보 추가 -->
                <img th:src="${profile?.profilePicture != null} ? ${profile.profilePicture} : '/images/profile.png'"
                     alt="프로필 사진" class="profile-img">
                <p th:text="${member.nickname}"></p>
                <p th:text="${profile.ment}"></p>

                <a th:href="@{/mypage/info}">개인정보</a>
                <a th:href="@{/mypage/profile}">프로필</a>
                <a th:href="@{/mypage/follow}">친구</a>
                <a th:href="@{/mypage/message}">채팅</a>
                <a th:href="@{/mypage/stats}">상연님 기깔나게 지어주세요</a>
            </div>
            <br>
            <!-- 회원탈퇴 항목은 사이드바 하단에 배치 -->
            <div class="logout">
                <a th:href="@{/member/logout}">회원탈퇴</a>
            </div>
        </div>

        <!-- 메인 콘텐츠 -->
        <div class="main-content">
            <section class="page-content">
                <h2>Google Calendar Events</h2>

                <!-- 캘린더가 표시될 영역 -->
                <div id="calendar"></div>
            </section>
        </div>
    </div>
</div>
<!-- 푸터 부분 불러오기 -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- 부트스트랩 JS 로드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- FontAwesome 아이콘 로드 -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


</body>
</html>