<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <!-- 웹 폰트 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans/css/SpoqaHanSansNeo.css">

    <script>
        $(document).ready(function() {
            $('#loginForm').submit(function() {
                if ($('#memberId').val() === '' || $('#memberPw').val() === '') {
                    alert('ID와 비밀번호를 입력하세요.');
                    return false;
                }
                return true;
            });
        });
    </script>
</head>

<!-- Google폰트 사용 링크 -->
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

<body>
<div class="login-wrapper">
    <div class="image-section">
        <!-- 이미지 추가 -->
        <img src="/images/diarybox.jpg" alt="로그인 이미지">
    </div>
    <div class="form-section">
        <h1>매일의 감정을 기록하고</h1>
        <p>나만의 공간에서 추억을 쌓아가세요</p>
        <form id="loginForm" th:action="@{/member/login}" method="post">
            <div class="input-group">
                <label for="memberId">아이디</label>
                <input type="text" name="memberId" id="memberId" placeholder="아이디 입력"/>
            </div>
            <div class="input-group">
                <label for="memberPw">비밀번호</label>
                <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호 입력"/>
            </div>
            <div class="button-group">
                <input type="submit" value="로그인" />
                <a th:href="@{/member/joinForm}" class="join-btn">회원가입</a>
            </div>
        </form>
    </div>
</div>
</body>

</html>
