/* 메인 컨테이너 스타일 */
#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    text-align: center;
}

/* 페이지 제목 스타일 */
#main h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #000000;
    text-align: center;
}

/* 가입 요청이 없을 때 메시지 스타일 */
.diary-container p {
    font-size: 1.5rem;
    color: #333;
}

/* 가입 요청 테이블 스타일 */
.diary-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* 테이블 셀의 텍스트 크기 조정 */
.diary-container th, .diary-container td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
    font-size: 1.1rem; /* 텍스트 크기를 1.2rem로 조정 */
}

/* 테이블 헤더 스타일 */
.diary-container th {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #333;
    font-size: 1.1rem; /* 헤더 텍스트 크기 */
}



/* 가입 요청이 없을 때 한 줄로 보여주는 스타일 */
.diary-container td[colspan="5"] {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    padding: 20px 0;
}

/* 버튼 스타일 */
.okBtn, .noBtn {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* 수락 버튼 스타일 */
.okBtn {
    background-color: #c694cf; /* 파란색 */
}

.okBtn:hover {
    background-color: #a973d6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 거절 버튼 스타일 */
.noBtn {
    background-color: #c694cf; /* 빨간색 */
}

.noBtn:hover {
    background-color: #a973d6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 돌아가기 버튼 스타일 */
#goBack {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#goBack:hover {
    background-color: #16a085;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* 프로필 이미지 스타일 */
.diary-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
