/* 메인 컨테이너 스타일 */
#my-note-main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* 카테고리 링크 스타일 */
.category-links {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.category-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    text-decoration: none;
    color: #333;
    background-color: #e9ecef;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.category-links a.active {
    background-color: #c288f4;
    color: #fff;
}

.category-links a:hover {
    background-color: #b26df5;
    color: #fff;
}

/* 다이어리 리스트 테이블 스타일 */
.diary-table {
    width: 100%;
    border-collapse: collapse;
}

.diary-table th, .diary-table td {
    padding: 12px;
    text-align: center;
    border: none;
}

.diary-table thead {
    background-color: transparent;
}

.diary-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 커버 이미지 크기 조정 */
.diary-table img {
    width: 150px; /* 이미지 크기 증가 */
    height: 200px;
    object-fit: cover;
    border-radius: 5px;

}

/* 소개글 컬럼 너비 조정 */
.diary-table th.intro, .diary-table td.intro {
    width: 30%; /* 소개글 컬럼 너비 설정 */
}

/* 가입 버튼 스타일 */
.joinBtn {
    background-color: #5bafea;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.joinBtn:hover {
    background-color: #1d6de3;

}
