<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>test_sse2</title>
    <style>
        #sendDiv {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            width : 300px;
        }
    </style>

    <script src="/js/jquery-3.7.1.min.js"></script>

    <script>
        $(document).ready(function() {

            //보내기 버튼 클릭하면 전송
            $('#sendButton').click(sendTest);

            //메시지 입력하다 엔터치는 경우에도 전송
            $('#msg').keydown(function(event) {
                if (event.key === 'Enter' || event.keyCode === 13) {
                    sendTest();
                }
            });
        });

        function sendTest() {
            let id = $('#id').val();
            let msg = $('#msg').val();

            if (id == '' || msg == '') {
                alert('수신인 아이디와 메시지 내용을 입력하세요.');
                return;
            }

            $.ajax({
                url : 'send',
                type: 'post',
                data : {memberId : id, message : msg},
                success : function () {
                    $('#msg').val('');
                    console.log('전송완료');
                },
                error : function (err) {
                    console.log(JSON.stringify(err));
                }
            });
        }
    </script>
</head>
<body>
<h1>[ SSE 테스트 ]</h1>

<p sec:authorize="isAuthenticated()"><a href="/msgTest">알림함</a></p>

<br>
<p>* 이곳에서 아이디와 내용을 입력하여 로그인된 사용자에게 메시지를 보낸다.</p>
<div id="sendDiv">
    <p>수신자 아이디 : 	<input type="text" id="id"></p>
    <p>메세지 내용 : 		<input type="text" id="msg"></p>
    <p><button id="sendButton">보내기</button></p>
</div>


<pre>
    - HTTP를 이용한 단방향 통신 (서버 -> 클라이언트)
	- 자동 재연결
	- 브라우저의 기본 기능으로 별도의 라이브러리 사용
    - 기존 메세지 내용 직접 입력해서 보내기
    - 추가1 누군가 나를 follow 추가
    - 추가2 누군가 나에게 채팅 메세지 보냈을때(카카오톡)
    - 추가3 누군가 나에게 공유 다이어리 요청 보냄
    - 추가4 공유 다이어리 요청 수락했을때
</pre>

</body>
</html>
