<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Diary</title>

    <!-- jQuery 로드 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <!-- 카테고리 선택 스크립트 로드 -->
    <script th:src="@{/js/personal/personalCategorySelect.js}"></script>

    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 헤더와 푸터 CSS 파일 -->
    <link href="../header/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../footer/css/styles.css">

    <!-- MyDiary 페이지 전용 CSS 파일 -->
    <link href="/css/personal/MyDiary.css" rel="stylesheet">

    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

    <!-- FontAwesome 아이콘 로드 -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body style="margin-top: 100px">
<!-- 헤더 부분 불러오기 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 메인 컨테이너 -->
<div id="main" class="container mt-5">
    <br>
    <br>
    <!-- 카드 스타일의 섹션 -->
    <div class="card text-center bg-dark text-white">
        <div class="card-body" style="padding-top: 50px; padding-bottom: 50px;" >
            <!-- 페이지 제목 -->
            <h4 class="title mb-4">카테고리를 선택해주세요!</h4>

            <!-- 카테고리 선택 폼 -->
            <form id="categoryForm" action="/personal/categorySave" method="post">
                <!-- 카테고리 버튼 그룹 -->
                <div class="cat-group mb-4">
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="1">일상</button>
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="2">여행</button>
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="3">육아</button>
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="4">연애</button>
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="5">취미</button>
                    <button type="button" class="btn btn-secondary cat-btn me-2 mb-2" data-cat-num="6">운동</button>
                </div>

                <!-- 저장 및 취소 버튼 -->
                <div class="btn-group">
                    <button id="save" type="button" class="btn btn-secondary me-2">저장</button>
                    <button id="cancel" type="button" class="btn btn-secondary">취소</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- 푸터 부분 불러오기 -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- 부트스트랩 JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>