<div th:fragment="diarySlider">
    <!-- 개인 다이어리 섹션 -->
    <section id="about">

        <div class="image-slider1">
            <div class="image-track">
                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">



                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">

                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover11.png" alt="Book 1">
                <img src="/images/noteCover12.png" alt="Book 2">
                <img src="/images/noteCover13.png" alt="Book 3">
                <img src="/images/noteCover14.png" alt="Book 4">
                <img src="/images/noteCover15.png" alt="Book 1">
                <img src="/images/noteCover16.png" alt="Book 2">
                <img src="/images/noteCover18.png" alt="Book 4">
                <img src="/images/noteTemplate12.png" alt="Book 2">
                <img src="/images/noteTemplate13.png" alt="Book 3">
                <img src="/images/noteTemplate14.png" alt="Book 4">
                <img src="/images/noteTemplate15.png" alt="Book 1">

            </div>
        </div>

        <br>
        <!-- 두 번째 슬라이더 -->
        <div class="image-slider2"> <!-- 두 번째 슬라이더 -->
            <div class="image-track">
                <!-- 슬라이드 이미지 6개 반복 -->
                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">




                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">

                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">


                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteCover1.png" alt="Book 1">
                <img src="/images/noteCover2.png" alt="Book 2">
                <img src="/images/noteCover3.png" alt="Book 3">
                <img src="/images/noteCover4.png" alt="Book 4">
                <img src="/images/noteCover5.png" alt="Book 5">
                <img src="/images/noteCover6.png" alt="Book 1">
                <img src="/images/noteCover7.png" alt="Book 2">
                <img src="/images/noteCover8.png" alt="Book 3">
                <img src="/images/noteCover9.png" alt="Book 4">
                <img src="/images/noteCover10.png" alt="Book 5">

            </div>
        </div>

        <br>
        <!-- 세 번째 슬라이더 -->
        <div class="image-slider3"> <!-- 두 번째 슬라이더 -->
            <div class="image-track">
                <!-- 슬라이드 이미지 6개 반복 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">


                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">

                <!-- 슬라이드 이미지 6개 반복 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">


                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">

                <!-- 이미지를 반복하여 무한 슬라이드 구현 -->
                <img src="/images/noteTemplate1.png" alt="Book 1">
                <img src="/images/noteTemplate2.png" alt="Book 2">
                <img src="/images/noteTemplate3.png" alt="Book 3">
                <img src="/images/noteTemplate4.png" alt="Book 4">
                <img src="/images/noteTemplate5.png" alt="Book 5">
                <img src="/images/noteTemplate6.png" alt="Book 6">
                <img src="/images/noteTemplate7.png" alt="Book 7">
                <img src="/images/noteTemplate17.png" alt="Book 1">
                <img src="/images/noteTemplate18.png" alt="Book 2">
                <img src="/images/noteTemplate19.png" alt="Book 3">
                <img src="/images/noteTemplate20.png" alt="Book 4">
                <img src="/images/noteTemplate23.png" alt="Book 5">

            </div>
        </div>
    </section>
</div>
