<div th:fragment="home-emotions">
  <div class="emotion-container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Emotion</h2>
    </div>
    <div class="row emotion-images">
      <!-- 감정 이미지 1 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/happy.gif" alt="행복" class="img-fluid emotion-image">
      </div>
      <!-- 감정 이미지 2 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/sad.gif" alt="슬픔" class="img-fluid emotion-image">
      </div>
      <!-- 감정 이미지 3 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/angry.gif" alt="화남" class="img-fluid emotion-image">
      </div>
      <!-- 감정 이미지 4 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/surprised.gif" alt="놀람" class="img-fluid emotion-image">
      </div>
      <!-- 감정 이미지 5 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/scared.gif" alt="두려움" class="img-fluid emotion-image">
      </div>
      <!-- 감정 이미지 6 -->
      <div class="col-lg-2 col-md-4 col-sm-6">
        <img src="/images/emotions/love.gif" alt="사랑" class="img-fluid emotion-image">
      </div>
    </div>

    <!-- 사용자 정의 컨트롤 -->
    <div class="player-controls" id="control-buttons">
      <button id="prevButton" class="custom-button control-button"><i class="fas fa-backward"></i></button>
      <button id="playPauseButton" class="custom-button control-button"><i class="fas fa-play"></i></button>
      <button id="nextButton" class="custom-button control-button"><i class="fas fa-forward"></i></button>
    </div>

    <!-- 시크바 추가 -->
    <input type="range" id="seek-bar" value="0" max="100">

    <!-- 볼륨 슬라이더 -->
    <div class="volume-control">
      <label for="volume-slider">
        <i class="fas fa-volume-up"></i> <!-- 볼륨 아이콘 -->
      </label>
      <input type="range" id="volume-slider" min="0" max="100" value="50">
    </div>
  </div>
</div>
