<!-- 노트 보기 모달 -->
<div th:fragment="modals">
    <div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="modalNoteTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNoteTitle">노트 제목</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="noteContentModal" style="background-size: cover; background-repeat: no-repeat;">
                    <div class="content-wrapper">
                        <!-- 프로필 이미지 및 위치/날짜/감정 섹션 -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="profile-image me-3">
                                <img id="modalProfilePicture" src="/images/default_profile.png" class="rounded-circle" width="60" height="60" alt="프로필">
                            </div>
                            <div class="w-100">
                                <p id="modalLocation">[위치]</p>
                                <div class="date-emotion-section">
                                    <span id="modalDiaryDate">[작성일]</span>
                                    <span id="modalEmotion" class="ms-3">[감정]</span>
                                </div>
                            </div>
                        </div>

                        <!-- 노트 이미지 섹션 -->
                        <div class="image-section">
                            <img src="" alt="노트 내용 이미지" id="modalNoteImage" style="display: none;">
                        </div>

                        <!-- 내용 섹션 -->
                        <div class="content-section">
                            <p id="modalContents">[내용]</p>
                        </div>

                        <!-- 해시태그 섹션 -->
                        <div class="hashtag-section">
                            <div id="modalHashtags"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>