<div th:fragment="portfolio">
    <!-- Portfolio Grid -->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">둘러보기</h2>
                <h3 class="section-subheading text-muted">다이어리 둘러보기</h3>
            </div>
            <div class="row portfolio-items">
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <!-- Portfolio item 1 -->
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리1</div>
                            <div class="portfolio-caption-subheading text-muted">Illustration</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 2 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Brown%20Yellow%20Aesthetic.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리2</div>
                            <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 3 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Colorful%20Blue%20Cute.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리3</div>
                            <div class="portfolio-caption-subheading text-muted">Identity</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 4 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Green%20White%20Cute%20Torn.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리4</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 5 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Purple%20Cute%20Stationary.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리5</div>
                            <div class="portfolio-caption-subheading text-muted">Website Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 6 -->
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리6</div>
                            <div class="portfolio-caption-subheading text-muted">Photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div th:fragment="portfolio2">
    <!-- Portfolio Grid -->
    <section class="page-section bg-light" id="portfolio2">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">둘러보기</h2>
                <h3 class="section-subheading text-muted">다이어리 둘러보기</h3>
            </div>
            <div class="row portfolio-items">
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <!-- Portfolio item 1 -->
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리1</div>
                            <div class="portfolio-caption-subheading text-muted">Illustration</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 2 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Brown%20Yellow%20Aesthetic.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리2</div>
                            <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 3 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Colorful%20Blue%20Cute.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리3</div>
                            <div class="portfolio-caption-subheading text-muted">Identity</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 4 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Green%20White%20Cute%20Torn.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리4</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 5 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Purple%20Cute%20Stationary.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리5</div>
                            <div class="portfolio-caption-subheading text-muted">Website Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 6 -->
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리6</div>
                            <div class="portfolio-caption-subheading text-muted">Photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:fragment="portfolio3">
    <!-- Portfolio Grid -->
    <section class="page-section bg-light" id="portfolio3">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">둘러보기</h2>
                <h3 class="section-subheading text-muted">다이어리 둘러보기</h3>
            </div>
            <div class="row portfolio-items">
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <!-- Portfolio item 1 -->
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리1</div>
                            <div class="portfolio-caption-subheading text-muted">Illustration</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 2 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Brown%20Yellow%20Aesthetic.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리2</div>
                            <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 3 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Colorful%20Blue%20Cute.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리3</div>
                            <div class="portfolio-caption-subheading text-muted">Identity</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 4 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Green%20White%20Cute%20Torn.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리4</div>
                            <div class="portfolio-caption-subheading text-muted">Branding</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 5 -->
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Purple%20Cute%20Stationary.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리5</div>
                            <div class="portfolio-caption-subheading text-muted">Website Design</div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio item 6 -->
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="portfolio-item-content">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/images/Beige%20Green%20Simple.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">다이어리6</div>
                            <div class="portfolio-caption-subheading text-muted">Photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>