<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
</head>
<body>
<div th:fragment="sidebar">
  <div class="sidebar-content">
    <img src="/images/emotions/happy.png" alt="프로필사진" class="profile-img">
    <p class="nickname">사용자 닉네임</p>
    <p class="profile-intro">짧은 프로필 소개글</p>

    <a th:href="@{/member/infoForm}">개인정보</a>
    <a th:href="@{/member/profile}">프로필</a>
    <a th:href="@{/member/follow}">친구</a>
    <a th:href="@{/member/message}">쪽지</a>
  </div>
  <!-- 회원탈퇴 항목 -->
  <div class="logout">
    <a th:href="@{/member/logout}">회원탈퇴</a>
  </div>
</div>
</body>
</html>