/* login.css */
body {
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    background-color: #ffffff;
}

.login-wrapper {
    display: flex;
    height: 100vh;
}

.image-section {
    flex: 2;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.form-section {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    flex: 1;
    background-color: #ffffff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*max-width: 400px; !* 최대 너비 설정 *!*/
    margin: auto; /* 좌우 중앙 정렬 */
}

.form-section h1 {
    margin-bottom: 40px;
    font-size: 32px;
}

.input-group {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-group {
    margin-top: 30px;
}

.button-group input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #d3b3d3;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.button-group .join-btn {
    display: block;
    margin-top: 20px;
    color: #d3b3d3;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.button-group .join-btn:hover {
    text-decoration: underline;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
    }

    .image-section,
    .form-section {
        flex: none;
        width: 100%;
    }

    .form-section {
        padding: 40px;
    }
}

h1 {
    margin-bottom: 10px; /* h1과 p 태그 사이의 간격을 줄이기 */
}

p {
    font-size: 20px;
    margin-top: 0; /* p 태그의 상단 간격을 없애기 */
}
