<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <!-- 필요한 스타일시트 링크 -->
    <link href="header/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/footer/css/styles.css">
</head>
<!-- 헤더용 JS -->
<script src="/header/js/scripts.js"></script>
<!-- 푸터용 JS -->
<script src="/footer/js/scripts.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<body>
<!-- header.html의 헤더 부분 불러오기 -->
<div th:replace="~{fragments/header :: header}"></div>

 <!--배경 이미지와 버튼 섹션-->
<header class="masthead" style="background-image: url('/header/assets/img/header_background.jpg');"> <!-- 경로 수정 -->
    <div class="container">
        <div class="masthead-subheading">Welcome To Shary!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" th:href="@{/user/login}">로그인</a> <!-- 버튼 클릭 시 Home으로 스크롤 -->
    </div>
</header>

<!-- Home 섹션 -->
<div id="page-top"></div>
<!-- 페이지의 다른 콘텐츠 -->
<section id="main-content">
    <div class="container">
        <h1>Welcome to the Main Page</h1>
        <p>This is the main content of the page.</p>
    </div>
</section>

<!-- 둘러보기 섹션 -->
<section id="portfolio">
    <h2>둘러보기</h2>
    <!-- 포트폴리오 -->
    <div th:replace="fragments/portfolio :: portfolio"></div>
</section>

<!-- 개인 다이어리 섹션 -->
<section id="about">
    <h2>개인 다이어리</h2>
    <p>개인 다이어리 섹션 내용</p>
    <div class="image-slider">
        <div class="image-track">
            <img src="img/1.jpg" alt="Book 1">
            <img src="img/2.jpg" alt="Book 2">
            <img src="img/3.jpg" alt="Book 3">
            <img src="img/4.jpg" alt="Book 4">
        </div>
    </div>
</section>

<!-- 공용 다이어리 섹션 -->
<section id="team">
    <h2>공용 다이어리</h2>
    <p>공용 다이어리 섹션 내용</p>
</section>

<!-- 프로필 섹션 -->
<section id="contact">
    <h2>프로필</h2>
    <p>프로필 섹션 내용</p>
</section>

<!-- 마이페이지 섹션 -->
<section id="mypage">
    <h2>마이페이지</h2>
    <p>마이페이지 섹션 내용</p>
</section>



<div th:replace="fragments/modals :: modals"></div>


<!-- footer.html의 푸터 부분 불러오기 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
