<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <!-- 필요한 스타일시트 링크 -->
    <link rel="stylesheet" href="/header/css/styles.css">
    <link rel="stylesheet" href="/footer/css/styles.css">
    <link rel="stylesheet" href="/css/wave.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/headerProfile.css">
    <link rel="stylesheet" th:href="@{/css/weather.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">

    <!-- AOS 라이브러리 사용 링크 -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap">
    <!-- CDN 사용 링크 -->

    <!-- Quill 에디터 CSS 추가 -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <meta name="current-user-id" content="[[${#authentication.name}]]">

</head>



<body>


<!-- jQuery 라이브러리 로드 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Toastify JS 로드 -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- Toastify CSS 로드 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">


<script src="https://sdk.scdn.co/spotify-player.js"></script>

<script src="/js/wave/wave.js"></script>


<script src="/js/emotions/emotions.js"></script>

<!-- 헤더용 JS -->
<script src="/header/js/scripts.js"></script>
<!-- 푸터용 JS -->
<script src="/footer/js/scripts.js"></script>

<!-- 부트스트랩 JS 로드 -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!-- jQuery 로드 -->
<!--<script th:src="@{/js/jquery-3.7.1.min.js}"></script>-->



<!-- header.html의 헤더 부분 불러오기 -->
<div th:replace="~{fragments/header :: header}"></div>



<!-- wave 섹션 -->
<section id="wave" data-aos="fade-up" data-aos-duration="1000">
    <div th:insert="fragments/wave_section :: wave_section"></div>
</section>

<!-- wave_animation.html의 파도 애니메이션 섹션 불러오기 -->
<!--<div class="animated-header" th:replace="~{fragments/wave_animation :: wave_animation}"></div>-->

<br>
<br>

<!-- Emotion 섹션 -->
<div id="page-top"></div>






<!-- 페이지의 다른 콘텐츠 -->
<section id="main-content" data-aos="fade-up">
    <div class="container">


        <!-- 팝업 창 구조 -->
        <div id="popup" class="popup-window">
            <div class="popup-content">
                <!-- 음악 아이콘 버튼 추가 -->
                <button id="musicButton" class="btn btn-primary">
                    <i class="fas fa-music"></i>
                </button>
            </div>
        </div>




        <div th:replace="fragments/home_emotions :: home-emotions"></div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- 버튼들을 감싸는 부모 요소 -->
<!--        <div class="button-container">-->
<!--            &lt;!&ndash; 첫 번째 "Spotify 로그인" 버튼 (OAuth 인증) &ndash;&gt;-->
<!--            <a id="loginButton" href="#" class="spotify-login-button">Spotify 인증</a>-->
<!--            <br>-->
<!--            &lt;!&ndash; 두 번째 "Spotify 사이트 로그인" 링크 &ndash;&gt;-->
<!--            <a id="spotifySiteLogin" href="https://accounts.spotify.com/ko/login" target="_blank" class="spotify-site-login-link">Spotify 사이트 로그인</a>-->
<!--        </div>-->



        <br>
        <br>

    </div>
</section>

<br>
<br>


<!-- 설명 섹션 -->
<section id="read" data-aos="zoom-in">
    <div th:replace="fragments/reason :: reason"></div>

</section>

<p></p>
<p></p>

<!-- 포트폴리오 섹션 -->
<section id="portfolio" data-aos="fade-right">
    <!-- 화살표 버튼 추가 -->
    <div class="carousel-container">
        <button class="carousel-btn left" id="prevBtn">&#10094;</button>
        <div class="carousel-track-container">
            <div class="carousel-track">
                <div th:replace="~{fragments/portfolio :: portfolio}"></div>
            </div>
        </div>
        <button class="carousel-btn right" id="nextBtn">&#10095;</button>
    </div>
</section>



<!-- 개인 다이어리 섹션 -->
<section id="about" data-aos="fade-up" data-aos-duration="1000">
    <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">당신을 기다리는 다이어리</h1>
    <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">50여가지의 노트 템플릿과 속지</h3>

    <!-- 개인 다이어리 섹션 슬라이더 -->
    <div th:replace="~{fragments/diary_slider :: diarySlider}" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"></div>
</section>



<!-- 따라다니는 버튼 -->
<div class="floating-buttons">
    <a href="/personal/MyDiary" class="floating-button">개인 다이어리</a>
    <a href="/share/main" class="floating-button">공유 다이어리</a>
</div>





<div th:replace="fragments/modals :: modals"></div>


<!-- footer.html의 푸터 부분 불러오기 -->
<div th:replace="~{fragments/footer :: footer}"></div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<!-- 팝업 창 열기 스크립트 -->
<script>
    document.getElementById('musicButton').addEventListener('click', function() {
        const popupWidth = 800;
        const popupHeight = 700;
        const left = (screen.width - popupWidth) / 2;
        const top = (screen.height - popupHeight) / 2;

        window.open('/emotion-popup', 'EmotionPlayer', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);
    });
</script>

<!-- SSE 연결 및 Toastify 알림 스크립트 추가 -->
<script>
    $(document).ready(function () {
        // SSE 연결 설정
        const eventSource = new EventSource("/subscribe");

        // 'chat' 이벤트 리스너 추가
        eventSource.addEventListener("chat", function (event) {
            let data = JSON.parse(event.data);
            showToastNotification(data);
        });

        // Toastify 알림 표시 함수
        function showToastNotification(data) {
            Toastify({
                text: `${data.sender}: ${data.content}`,
                duration: 5000, // 5초 동안 표시
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "#4fbe87",
                stopOnFocus: true,
                onClick: function() {
                    // 채팅방으로 이동하는 함수 호출
                    moveToChatRoom(data.chatId);
                }
            }).showToast();
        }

        // 채팅방으로 이동하는 함수
        function moveToChatRoom(chatId) {
            window.location.href = '/chat/room?chatId=' + chatId;
        }
    });

    const currentUserId = document.querySelector('meta[name="current-user-id"]').getAttribute('content');

</script>

<!-- profile.js 파일 로드 -->
<script th:src="@{/js/main/profile.js}"></script>
<!-- portfolio.js 파일 로드 -->
<script th:src="@{/js/main/portfolio.js}"></script>
<!-- weather.js파일 로드 -->
<script th:src="@{/js/main/weather.js}"></script>

</body>
</html>
