<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <style>
        img{
            /*display: block;*/
            /*margin: 10px;*/
            height: 300px;
            width: 400px;

        }

        div{
            margin-left: 900px;
            margin-top: 150px;
        }
        header{
            margin-top: 0;
            background-color: #dfc2c4;
        }
    </style>
</head>
<body>
<header>
    <h1>MYSHARY</h1>
</header>
<div>
    <img src="/images/info.jpg" alt="info이미지">

</div>
</body>
</html>