<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>전체 멤버 리스트</title>

    <!-- jQuery 로드 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <!-- 부트스트랩 CSS 로드 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- weather 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/weather.css}">


    <!-- 헤더와 푸터용 스타일 -->
    <link href="../header/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../footer/css/styles.css">

    <!-- MyDiary 페이지 전용 CSS 파일 -->
    <link href="/css/share/memberList.css" rel="stylesheet">

    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function() {
            $('#goBack').click(function() {
                window.location.href = '/sharemember/viewMember?diaryNum=' + [[${diary.shareDiaryNum}]];
            });
            $('.ban').click(function (){
                let diaryNum = $(this).data('diary-num');
                let memberId = $(this).data('member-id');
                console.log(diaryNum, memberId);

                if (!confirm('해당 멤버를 탈퇴시키시겠습니까?')) {
                    return false;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/sharemember/reject',
                        data: JSON.stringify({diaryNum: diaryNum, memberId: memberId}),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            console.log('Success:', response);
                            // 필요한 경우 성공 후 다른 동작 수행
                            alert(response);
                            location.reload();
                        },
                        error: function (error) {
                            console.error('Error:', error);
                            alert('가입 요청 수락 중 오류 발생.');
                        }
                    });
                }

            });
        });
    </script>
</head>
<body>
<!-- 헤더 부분 불러오기 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 메인 컨테이너 -->
<div id="main" class="container mt-5">
    <br>
    <br>
    <br>
    <h2>전체 멤버 리스트</h2>
    <br>
    <div class="diary-container">
        <div id="header-container">
            <span class="diary-header">방장</span> <span class="header-content" th:text="${diary.nickname}"></span>&nbsp;
            <span class="diary-header">| 전체 멤버 수</span> <span class="header-content" th:text="${memberCount}"></span>
        </div>
        <br><br>
        <div>
            <table>
                <tr>
                    <th>No.</th>
                    <th>프로필</th>
                    <th>닉네임</th>
                    <th>가입일</th>
                    <th></th>
                </tr>
                <tr th:each="list, i : ${list}">
                    <td th:text="${i.count}"></td>
                    <td>
                        <img th:src="@{${list.profilePicture}}" alt="프로필 사진" />
                    </td>
                    <td th:text="${list.nickname}"></td>
                    <td th:text="${#temporals.format(list.joinDate, 'yyyy-MM-dd')}"></td>
                    <td><button class="ban" th:data-diary-num="${diary.shareDiaryNum}" th:data-member-id="${list.memberId}"><strong>강퇴</strong></button></td>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br>
    <!-- 메뉴 버튼 (햄버거 아이콘) -->
    <div class="text-center mt-4">
        <button id="goBack" class="btn btn-primary">
            돌아가기
        </button>
    </div>
    <br><br><br>
</div>


<!-- 푸터 부분 불러오기 -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- 부트스트랩 JS 로드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- FontAwesome 아이콘 로드 -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- weather.js 파일 로드 -->
<script th:src="@{/js/main/weather.js}"></script>
</body>
</html>