<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>멤버 관리</title>

    <!-- jQuery 로드 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

    <!-- 부트스트랩 CSS 로드 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 헤더와 푸터용 스타일 -->
    <link href="../header/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../footer/css/styles.css">

    <!-- MyDiary 페이지 전용 CSS 파일 -->
    <link href="/css/share/MyDiary.css" rel="stylesheet">

    <!-- Google폰트 사용 링크 -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function() {
            $('#goBack').click(function() {
                window.location.href = '/share/manageDiary?diaryNum=' + [[${diary.shareDiaryNum}]];
            });
        });
    </script>
</head>
<body>
<!-- 헤더 부분 불러오기 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 메인 컨테이너 -->
<div id="main" class="container mt-5">
    <br>
    <br>
    <br>
    <h2>멤버 관리</h2>
    <br>
    <div class="diary-container">
        <div>
            <p><a th:href="@{/sharemember/memberList(diaryNum=${diary.shareDiaryNum})}">전체 멤버 보기</a></p>
            <p><a th:href="@{/sharemember/registerRequest(diaryNum=${diary.shareDiaryNum})}">가입 요청 관리</a></p>
        </div>
    </div>

    <!-- 메뉴 버튼 (햄버거 아이콘) -->
    <div class="text-center mt-4">
        <button id="goBack" class="btn btn-primary">
            돌아가기
        </button>
    </div>
</div>

<!-- 푸터 부분 불러오기 -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- 부트스트랩 JS 로드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- FontAwesome 아이콘 로드 -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>