<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>test_composite_key</title>
</head>
<body>
<table>
	<thead>
	<tr>
		<th>목록</th>
		<th>팔로워 ID</th>
		<th>팔로잉 ID</th>
		<th>날짜</th>
		<th>삭제</th>
	</tr>
	</thead>
	<tbody>
	<!-- FollowEntity 리스트를 반복하여 테이블 행을 생성 -->
	<tr th:each="follow, iterStat : ${followList}">
		<td th:text="${iterStat.count}">1</td> <!-- 현재 행 번호 -->
		<td th:text="${follow.followerId}">followerId</td>
		<td th:text="${follow.followingId}">followingId</td>
		<td th:text="${#temporals.format(follow.followDate, 'yyyy-MM-dd HH:mm:ss')}">followDate</td>

		<td>
			<a th:href="@{/follow/delete(followerId=${follow.followerId}, followingId=${follow.followingId})}">삭제</a>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
